.about-saturn {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom, #050f27, #001528);
  }

  .h2{
    color: white;
  }
  
  .content-section {
    width: auto;
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(180, 180, 180, 0.2);
    background-color:#090518
  }
  
  .content-section h3 {
    color: #f3f5f6;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .content-section p,
  .content-section ul {
    color: #f5f5f5;
  }
  
  .content-section ul {
    padding-left: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .about-saturn {
      padding: 20px;
    }
  
    .content-section {
      width: calc(100% - 40px);
      margin-left:auto;
    }
  }
  